@charset "utf-8";

$goblet-gray: #d1ccbd;
$better-than-maroon-red: #f9423a;
$rocky-rapids-blue: #81b0d2;

$body-background-color: $goblet-gray;
$primary: $rocky-rapids-blue;

$widescreen-enabled: false;
$fullhd-enabled: false;

.is-fullheight-100vh {
  height: 100vh;
}

// @import "../lib/bulma-0.9.3/bulma/bulma.sass";
@import "../lib/bulma-0.9.3/bulma/sass/utilities/_all.sass";
@import "../lib/bulma-0.9.3/bulma/sass/base/_all.sass";
@import "../lib/bulma-0.9.3/bulma/sass/grid/columns.sass";
@import "../lib/bulma-0.9.3/bulma/sass/elements/button.sass";
@import "../lib/bulma-0.9.3/bulma/sass/elements/container.sass";
@import "../lib/bulma-0.9.3/bulma/sass/elements/title.sass";
@import "../lib/bulma-0.9.3/bulma/sass/elements/notification.sass";
@import "../lib/bulma-0.9.3/bulma/sass/elements/other.sass";
@import "../lib/bulma-0.9.3/bulma/sass/elements/content.sass";
@import "../lib/bulma-0.9.3/bulma/sass/components/card.sass";
@import "../lib/bulma-0.9.3/bulma/sass/form/_all.sass";
@import "../lib/bulma-0.9.3/bulma/sass/layout/section.sass";
@import "../lib/bulma-0.9.3/bulma/sass/layout/footer.sass";
@import "../lib/bulma-0.9.3/bulma/sass/helpers/typography.sass";
@import "../lib/bulma-0.9.3/bulma/sass/helpers/flexbox.sass";
