@charset "utf-8";

$goblet-gray: #d1ccbd;
$better-than-maroon-red: #f9423a;
$rocky-rapids-blue: #81b0d2;

$body-background-color: $goblet-gray;
$primary: $rocky-rapids-blue;

$widescreen-enabled: false;
$fullhd-enabled: false;

$table-cell-border: none;

// @import "../lib/bulma-0.9.3/bulma/bulma.sass";
@import "../lib/bulma-0.9.3/bulma/sass/utilities/_all.sass";
@import "../lib/bulma-0.9.3/bulma/sass/base/_all.sass";
@import "../lib/bulma-0.9.3/bulma/sass/grid/columns.sass";
@import "../lib/bulma-0.9.3/bulma/sass/elements/button.sass";
@import "../lib/bulma-0.9.3/bulma/sass/elements/container.sass";
@import "../lib/bulma-0.9.3/bulma/sass/elements/title.sass";
@import "../lib/bulma-0.9.3/bulma/sass/elements/notification.sass";
@import "../lib/bulma-0.9.3/bulma/sass/elements/other.sass";
@import "../lib/bulma-0.9.3/bulma/sass/elements/content.sass";
@import "../lib/bulma-0.9.3/bulma/sass/elements/table.sass";
@import "../lib/bulma-0.9.3/bulma/sass/components/card.sass";
@import "../lib/bulma-0.9.3/bulma/sass/components/modal.sass";
@import "../lib/bulma-0.9.3/bulma/sass/form/_all.sass";
@import "../lib/bulma-0.9.3/bulma/sass/layout/section.sass";
@import "../lib/bulma-0.9.3/bulma/sass/layout/footer.sass";
@import "../lib/bulma-0.9.3/bulma/sass/helpers/typography.sass";
@import "../lib/bulma-0.9.3/bulma/sass/helpers/flexbox.sass";

#search_result_dialog .modal-card-body .columns.is-reversed-mobile {
	@include until($desktop) {
    	display: flex;
    	flex-direction: column-reverse;
  	}
}
