<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Barcode Scanner - Purchase Request Workflow</title>
    <link rel="stylesheet" href="../resources/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="../resources/js/app.js"></script>
</head>

<body class=>

    <div class="columns is-flex-direction-column">

        <div class="column">

            <section class="hero">
                <div class="hero-body">
                    <h1 class="title">Barcode Scanner for Purchase Requests</h1>
                    <p class="subtitle">
                        Purchase Request Workflow
                    </p>
                </div>
            </section>

            <main class="section">

                <div class="container">

                    <div class="card">
                        <div class="card-header">
                            <p class="card-header-title">Scan a Return Slip Barcode</p>
                        </div>

                        <div class="card-content">

                            <form action="">

                                <div class="field">
                                    <label class="label" for="barcode_input">Barcode</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Scan barcode" id="barcode_input">
                                    </div>
                                </div>

                                <div class="buttons">
                                    <input type="submit" id="search_button" class="button is-primary" disabled="disabled" value="Search">
                                </div>

                            </form>

                        </div>

                    </div>


                </div>
            </main>

            <aside class="section">

                <div class="container">

                    <div class="card has-background-info-light">
                        <div class="card-header">
                            <p class="card-header-title">Recent Purchase Requests</p>
                        </div>

                        <div class="card-content">

                            <table id="history_table" class="table is-fullwidth has-background-info-light">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Title</th>
                                        <th>Contributor</th>
                                        <th>ISBN</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Content load via AJAX. -->
                                </tbody>
                            </table>
    
                        </div>

                    </div>


                </div>
            </aside>

        </div>

    </div>

    <div id="search_result_dialog" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Title</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="columns is-reversed-mobile">
                    <div class="column is-narrow">
                        <img src="">
                    </div>
                    <div class="column">
                        <table class="table" id="search_result_details">
                            <tbody>
                                <tr>
                                    <th scope="row">Contributor:</th>
                                    <td><span class="contributor"></span></td>
                                </tr>
                                <tr>
                                    <th scope="row">ISBN:</th>
                                    <td><span class="isbn"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button id="request_item_button" 
                    class="button is-success" 
                    data-enabled-text="Request Item" 
                    data-disabled-text="Requesting...">
                    Request Item
                </button>
                <button class="button">Cancel</button>
            </footer>
        </div>
    </div>

</body>

</html>